html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f5f1ea;
}

.card {
  border-radius: 15px;
  transition: 0.2s;
}

main {
  flex: 1;
}

.card:hover {
  transform: scale(1.02);
}

.book-card {
  background: #fff;
  border-left: 5px solid #6c5ce7;
}

.price {
  font-weight: bold;
  color: #2d3436;
}

.genre-badge {
  background: #dfe6e9;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
}
